name: "Application Security Scan"

on:
  push: 
    branches: 
       - master
  pull_request:

jobs:
  snyk:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: "Check out Git repository"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
      - name: "Run Snyk to check for code vulnerabilities (SAST)"
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --sarif-file-output=snyk-code.sarif
        continue-on-error: true          

      - name: "Set up Node.js"
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af
        with:
          node-version: '22'

      - name: "Install dependencies"
        run: npm install

      - name: "Run Snyk to check for vulnerabilities"
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: --sarif-file-output=snyk-code.sarif
        continue-on-error: true
      - name: "Upload Snyk SARIF report"
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif