name: "Snyk SCA Scan"

on:
  push: 
    branches: 
       - master
  pull_request:

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out Git repository"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: "Run Snyk to check for code vulnerabilities (SAST)"
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
        continue-on-error: true          

      - name: "Set up Node.js"
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af
        with:
          node-version: '22'

      - name: "Install dependencies"
        run: npm install

      - name: "Run Snyk to check for vulnerabilities"
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
        continue-on-error: true
