name: "Lab 3 - Scan & Fix"

on:
  push: 
    branches: 
       - master

jobs:
  snyk-analysis:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
    steps:
      - name: "Check out Git repository"
        uses: actions/checkout@v4
      - name: "Set up Node.js"
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: "Install dependencies"
        run: npm install
    
    #----------------------------------------
    # PART 1 : SAST ANALYSIS
    #----------------------------------
      - name : "Run Snyk Code (SAST)"
        uses: snyk/actions/node@master
        continue-on-error: true # do not fail the workflow
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          # generate specific file for the code
          args: --sarif-file-output=snyk-code.sarif --severity-threshold=high
    #----------------------------------------
    # PART 2 : Saving report 
    #----------------------------------
      - name: "Upload SAST Report as Artifact"
        uses: actions/upload-artifact@v4
        if : always() #even if the scan find vulnerabilities
        with:
          name: snyk-sast-report
          path: snyk-code.sarif
          retention-days: 10
    #----------------------------------------
    # PART 3 : Upload to GitHub Security Tab
    #----------------------------------
      - name: "Upload SARIF to GitHub Code Scanning"
        uses: github/codeql-action/upload-sarif@v3
        if: always() # run even if the scan find vulnerabilities
        with:
          sarif_file: snyk-code.sarif